@model User //lowercase "m" 


<h1>Success!</h1>
<h2>Welcome @Model.Name</h2>
<h2>Your Email: @Model.Email</h2>
<h2>Your Password: @Model.Password</h2>
<h2>Location is: @Model.Location</h2>
<h2>Language is: @Model.Language</h2>
<h2>Comment: @Model.Comment</h2>